#headtitle {
    background: #ff9933;
    color: #e6e6e6;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    margin: 20px auto auto 12px;
}

#content {
    margin: 90px 30px 20px 10%;
    width: 60%;
    max-width: 800px;
}

#box {
    border: 3px solid #a6a6a6;
    padding: 4px 4px 4px 4px;
    width: fit-content;
    max-width: 650px;
}

#box a {
    text-decoration: none;
    color:  #1a1a1a;
    font: 26px Verdana;
    margin-right: 180px;
}
    
#titles {
    max-width: 650px;
}

#titles a {
    color: #000000;
    text-decoration: none;
    font: 35px Verdana;
}

#titles a:hover {
    text-decoration: underline;
}

#loginTable {
    margin: 20px 200px auto auto; 
}

#searchbox {
    margin-left: 14px;
    width: 200px;
    height: 23px;
}

#textandbox {
    color: #500000;
    margin: 40px 18px 4px 18px;
}

#regbox {
    color: #000000;
    font-size: 15px;
    margin-top: 5px;
    width: 400px;
    height: 30px;
}

#regArea {
    border: 2px solid #8d8d8d;
    padding: 20px 14px 10px 14px;
    margin: 100px auto;
    width: fit-content;
}

#return {
    margin-left: 14px;
    font-size: 18px;
    border: 2px solid purple;
    width: fit-content;
    padding: 4px;
    border-radius: 6px;
}

#return a {
    text-decoration: none;
}

#newuser {
    background-color: #4189ff;
    color: white;
    font-size: 22px;
    margin: 12px;
    height: 40px;
    width: 418px;
    border: 2px;
    border-radius: 4px;
}

#newuser:hover {
    background-color: #2f71db;
    cursor: pointer;
}

#commentbox {
    width: 500px;
    height: 80px;
}

#comments span {
    font-style: italic;
}

#info {
    margin-left: 70px;
    margin-top: 70px;
}

#titlebox {
    margin-top: 10px;
    width: 630px;
    height: 45px;
}

#bodybox {
    margin-top: 15px;
    width: 660px;
    height: 260px;
}

#topics {
    margin-top: 25px;
    border: 3px solid #FF5757;
    width: 660px;
    height: 80px;
}

#publish {
    margin-bottom: 120px; 
    font-size: 20px; 
    width: 80px; 
    margin-top: 6px;
}

#topicbox {
    padding: 10px;
    border: 2px solid #53B4DE;
    margin-top: 140px;
    text-decoration: none;
    position: -webkit-sticky;
    position: sticky;
}

#topicbox a {
    color: #7A7A7A;
    text-decoration: none;
}

#topicbox p {
    margin-top: 10px;
}


#topicbox a:hover {
    text-decoration: underline;
}
