body {
    padding-bottom: 100px;
}

input[type=submit] {
    padding: 3px;
    width: fit-content;
    height: fit-content;
    background-color: #d4d4d4;
    color: black;
    border: none;
    border-radius: 3px;
    margin: 3px;
}
input[type=submit]:hover {
    background-color: #969696;
    cursor:pointer;
}

/* layout start */

#headtitle {
    background: #ff9933;
    color: #e6e6e6;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    margin: 20px auto auto 12px;
}

#content {
    margin: 90px auto 20px 10%;
    max-width: 650px;
    width: 60%;
}

#searchbox {
    margin-left: 14px;
    width: 200px;
    height: 23px;
}

#searchbutton {
    color: black;
    background-color: #3de8ff;
    margin-top: 3px;
    margin-left: 14px;
    width: 50px;
    height: 25px;
    border-radius: 3px;
    border: none;
}

#searchbutton:hover {
    background-color: #2294a3;
}

#box {
    border: 3px solid #a6a6a6;
    padding: 4px 4px 4px 4px;
    width: content;
}

#box a {
    text-decoration: none;
    color:  #1a1a1a;
    font: 26px Verdana;
    margin-right: 20%;
}

#bookmarks a {
    font-size: 22px;
    text-decoration: none;
    color: #17d1a5;
}
#bookmarks a:hover {
    color: #10876b;
    border-radius: 5px;
}

#rightside {
    float:right;
    margin-right: 10%;
    position: -webkit-sticky;
    position: sticky;
    top: -120px;
}

#topicbox {
    padding: 10px;
    border: 2px solid #53B4DE;
    margin-top: 140px;
    text-decoration: none;
}

#topicbox a {
    color: #7A7A7A;
    text-decoration: none;
}

#topicbox a:hover {
    text-decoration: underline;
}

#topicbox p {
    margin-top: 10px;
}

#loginTable {
    margin: 20px 200px auto auto;
}

#loginbutton {
    border: none;
    border-radius: 4px;
    background-color: #ff8400;
    color: white;
    width: 100px;
    height: 25px;
    margin: 3px;
    font-size: 12px;
}

#loginbutton:hover {
    background-color: #d16c00;
}

#newpiecebutton {
    font-size: 13px;
    color: white;
    background-color: #ff7a7a;
    width: 120px;
    height: 35px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

#newpiecebutton:hover {
    background-color: #c94d4d;
}

/* layout end */

/* index start*/

#titles a {
    color: #000000;
    text-decoration: none;
    font: 31px Verdana;
}

#titles a:hover {
    text-decoration: underline;
}

/* index end */

/* register-area start*/

#textandbox {
    color: #500000;
    margin: 40px 18px 4px 18px;
}

#regbox {
    color: #000000;
    font-size: 15px;
    margin-top: 5px;
    width: 400px;
    height: 30px;
}

#regArea {
    border: 2px solid #8d8d8d;
    padding: 20px 14px 10px 14px;
    margin: 100px auto;
    width: fit-content;
}

#return {
    margin-left: 14px;
    font-size: 18px;
    border: 2px solid purple;
    width: fit-content;
    padding: 4px;
    border-radius: 6px;
}

#return a {
    text-decoration: none;
}

#newuser {
    background-color: #4189ff;
    color: white;
    font-size: 22px;
    margin: 12px;
    height: 40px;
    width: 418px;
    border: 2px;
    border-radius: 4px;
}

#newuser:hover {
    background-color: #2f71db;
}

/* register-area end */

/* news-piece start */
#icon {
    float:right;
    width: 50px;
    border-radius: 8px;
}

#icon:hover {
    background-color: #858585;
}

#editbutton {
    border: none;
    background-color: #454bff;
    border-radius: 5px;
    margin: 5px;
    color: white;
    width: 150px;
    height: 20px;
}

#editbutton:hover {
    background-color: #2631d1;
}

img.piece {
    max-width: 500px;
}

#info {
    margin-left: 70px;
    margin-top: 70px;
}

#commentbox {
    width: 500px;
    height: 80px;
}

#commentbutton {
    border: none;
    background-color: #99faff;
    border-radius: 3px;
    margin: 10px;
    color: black;
    width: 130px;
    height: 20px;
}

#commentbutton:hover {
    background-color: #82d5d9;
}

#comments span {
    font-style: italic;
}


/* news-piece end */

/* create-new-piece start*/

#titlebox {
    font-size: 20px;
    margin-top: 10px;
    width: 500px;
    height: 45px;
}

#bodybox {
    font-size: 16px;
    margin-top: 15px;
    width: 600px;
    height: 260px;
}

#topics {
    margin-top: 25px;
    border: 3px solid #7afdff;
    width: 660px;
    height: 80px;
}

#publishbutton {
    display: grid;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
    width: 250px;
    height: 32px;
    background-color: #ff9500;
    color: white;
}

#publishbutton:hover {
    background-color: #cf7900;
}

/* create-new-piece end */
