<!DOCTYPE html>
<head>
<title>Uutissanomat</title>
<link rel="stylesheet" href="/static/tyyli.css">
</head>
<body>
<a href="/"><h1 id="headtitle" style="float:left">Uutissanomat</h1></a>

{% if session.username %}
<div id="loginTable" style="float:right">
<p> Hei {{ session.username }}</p>
{% if session.usertype == "toimittaja" %}
<form action="/newpiece" method="GET">
    <input type="submit" value="Luo uusi uutinen">
</form>
{% endif %}
<a href="/logout">Kirjaudu ulos</a>
</div>
{% else %}
<form action="/login" method="POST">
<table id="loginTable" style="float:right">
    <tr>
        <td>Käyttäjätunnus:</td>
	<td><input type="text" name="username"></td>
	<td></td>
    </tr>
    <tr>
	<td>Salasana:</td>
	<td><input type="password" name="password"></td>
	<td></td>
    </tr>
    <tr>
	<td></td>
	<td><input type="submit" value="Kirjaudu sisään"> tai </td>
	<td><a href="/create">Luo uusi tunnus</a></td>
    </tr>
</table>
</form>

{% endif %}
<div style="clear:both"></div>
<form action="/result" method="GET">
    <input id ="searchbox" type="text" name="search">
    <br>
    <input style="margin-left:14px" type="submit" value="Etsi">
</form>
<div id="content" style="float:left">
    <div id="box">
        <a href="/">Etusivu</a>
        <a href="/mostviewed">Luetuimmat</a>
    </div>

    <div class="main">
        {% block content %}{% endblock %}
    </div>
</div>
<div id="topicselection" style="float:left">
    <div id="topicbox">
        {% for topic in topics %}
        <p><a href="/{{topic[0]}}"> {{topic[0]}}</a></p>
        {% endfor %}
    </div>
</div>
<div style="clear:both"></div>
</body>
</html>
