{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/tyyli.css">
    
{% if session.username %}
    <form action="/swapbookmark" method="POST">
        {% if bookmarked %}
        <input id="icon" type="image" src="/static/bookmarkiconON.png">
        {% else %}
        <input id="icon" type="image" src="/static/bookmarkicon.png">
        {% endif %}
        <input type="hidden" name="news_id" value="{{news[0][0]}}">
    </form>
{% endif %}
{% if session.username == news[0][3] %}
<p> Katselukerrat: {{news[0][5]}}</p>
<form action="/deletepiece" method="POST">
    <input type="submit" value="Poista uutinen">
    <input type="hidden" name="id" value="{{news[0][0]}}">
</form>

<form action ="/editpiece", method="POST">
    <input id="editbutton" type="submit" value="Muokkaa uutista">
    <input type="hidden" name="id" value="{{news[0][0]}}">
    <input type="hidden" name="title" value="{{news[0][1]}}">
    <input type="hidden" name="body" value="{{news[0][2]}}">
    <input type="hidden" name="topic" value="{{news[0][6]}}">
</form>
{% endif %}
<div id="titles">
<h2>{{news[0][1]}}</h2>
{% if image %}
<img class="piece" src="data:image/jpeg;base64,{{ image }}">
<br>
{% endif %}
<div style="white-space:pre-wrap">{{news[0][2]}}</div>

</div>
<div style="margin-bottom: 80px;">
<div id="info">
Toimittaja: {{news[0][3]}}
<br>
Julkaistu {{news[0][4].strftime("%H:%M %d.%m.%Y")}}
</div>
<br>

{% if session.username %}

<form action="/comment" method="POST">
    <textarea id="commentbox" name="comment" placeholder="Kommentoi..."></textarea><br>
    <input id="commentbutton" type="submit" value="Lähetä kommentti">
    <input type="hidden" name="news_id" value="{{news[0][0]}}">
</form>
{% endif %}

<div id="comments">
{% for comment in comments %}

<p class="title"><span>{{comment[4].strftime("%d.%m.%Y. %H:%M")}}</span> {{comment[2]}}:</p>
<p class="text">{{comment[3]}}</p>
{% if session.username == comment[2] or session.username == news[0][3] %}
<form action="/deletecomment" method="POST">
    <input type="submit" value="Poista kommentti">
    <input type="hidden" name="id" value="{{comment[0]}}">
    <input type="hidden" name="news_id" value="{{news[0][0]}}">
</form>
{% endif %}
<hr>
{% endfor %}
</div>
</div>

{% endblock %}
