<!DOCTYPE html>
<head>
<title>Rekisteröityminen</title>
<link rel="stylesheet" href="/static/tyyli.css">
</head>
<body>
<a href="/" style="text-decoration: none;"><h1 id="headtitle">Uutissanomat</h1></a>

<div id="regArea">
    <a href="/"><div id="return"> Etusivulle</a></div>
    <form action="/register" method="POST">
        <div id="textandbox">
        <p>Uusi käyttäjätunnus<br>
        <input id="regbox" type="text" name="username"></p>
        <p>Salasana<br>
        <input id="regbox" type="password" name="password"></p>
        </div>
        {% if message %} 
        <p style="color:red">{{message}}</p>
        {% endif %}
        <input type="radio" id="lukija" name="usertype" value="lukija" checked>
        <label for ="lukija">Lukija</label><br>
        <input type="radio" id="toimittaja" name="usertype" value="toimittaja">
        <label for ="toimittaja">Toimittaja</label><br>
        <input id="newuser" type="submit" value="Luo uusi tunnus">
    </form>
</div>
</body>
</html>
